#[derive(Debug, Clone, Serialize, Deserialize, PartialEq, Default)]
pub enum {{fmt_struct(name=enum.name)}} {
    #[default]
    {% for variant in enum.variants %} {{ fmt_var(name=variant.name) }} = {{ variant.id }}, {% endfor %}
}
